<div class="container-fluid social-bar animated fadeInUp">
    <div class="social">
      <ul class="ml-auto">
        <li class="social-link">
          <a class="link-animation  grow" href="https://www.linkedin.com/in/nilesh-thingalaya-a209403/" target="blank">Facebook</a>
        </li>
        <li class="social-link">
          <a class="link-animation  grow" href="https://www.instagram.com/georgecohen/" target="blank">Instagram</a>
        </li>
        <li class="social-link">
          <a class="link-animation  grow" href="https://www.linkedin.com/in/nilesh-thingalaya-a209403/" target="blank">LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>