<nav class="navbar fixed-top navbar-expand-lg animated fadeInDown  navbar-dark bar-padding">
    <a class="navbar-brand pulse " href="index">GEORGE COHEN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link link-animation grow" routerLink="/dashboard">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-animation grow" href="/assets/doc/nileshdt.docx">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-animation grow" routerLink="/experience">Experience</a>
          </li>
        <li class="nav-item">
          <a class="nav-link link-animation grow" routerLink="/skills">Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-animation grow" routerLink="/education">Education</a>
        </li>
          <li class="nav-item">
              <a class="nav-link link-animation grow" routerLink="/certifications">Certification</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-animation grow" routerLink="/contact">Contact</a>
          </li>
        </ul>
    </div>
  </nav>
  
<!-- <nav class="navbar navbar-expand-lg navbar-light sidebar-social" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/dashboard"><i class="fa fa-home"></i><span>Home</span></a>
          <a class="nav-item nav-link" href="/assets/doc/nileshdt.docx" ><i class="fa fa-download"></i><span>Profile</span></a>
          <a class="nav-item nav-link" routerLink="/experience"><i class="fa fa-boxes"></i><span>Experience</span></a>
          <a class="nav-item nav-link" routerLink="/skills"><i class="fa fa-balance-scale"></i><span>Skills</span></a>
          <a class="nav-item nav-link" routerLink="/education"><i class="fa fa-certificate"></i><span>Education</span></a>
          <a class="nav-item nav-link" routerLink="/certifications"><i class="fa fa-certificate"></i><span>Certifications</span></a>
          
      </div>
    </div>
  </nav> -->
<router-outlet></router-outlet>

          <!-- <a class="nav-item nav-link" ><i class="fab fa-facebook-f"></i><span></span></a>
          <a class="nav-item nav-link"  href="https://www.linkedin.com/in/nilesh-thingalaya-a209403/" ><i class="fab fa-linkedin-in"></i><span></span></a>
          <a class="nav-item nav-link" ><i class="fab fa-twitter"></i><span></span></a> -->
