<nav class="navbar">

    <!-- logo -->
    <div class="container-fluid">
      <a class="navbar-item">
        <img src="assets/images/certifications/awsasso.jpg" [routerLink]="['/printViewer/','/assets/pdf/aws.pdf']">
      </a>
      <a class="navbar-item">
        <img src="assets/images/certifications/mcpd.png" [routerLink]="['/printViewer/','/assets/pdf/mcpd.pdf']" >
      </a>
      <a class="navbar-item" >
          <img src="assets/images/certifications/msts.png" [routerLink]="['/printViewer/','/assets/pdf/mcts.pdf']">
        </a>
      </div>
  </nav>