<nav class="navbar">

    <!-- logo -->
    <div class="container-fluid">
      <a class="navbar-item">
        <img src="assets/images/certifications/awsasso.jpg">
      </a>
      <a class="navbar-item">
        <img src="assets/images/certifications/mcpd.png" [routerLink]="['/printViewer/','/assets/pdf/Microsoft.pdf']" (click)="showFile('/assets/pdf/Microsoft.pdf')">
      </a>
      <a class="navbar-item" href=" window.open('assets/pdf/Microsoft.pdf');" target="_blank">
          <img src="assets/images/certifications/msts.png">
        </a>
      </div>
  </nav>