<nav class="navbar pad-top-10">
  <h1>Skills</h1>

    <!-- logo -->
    <div class="container-fluid">
      <a class="navbar-item">
        <img src="assets/images/skills/net.jpg">
      </a>
      <a class="navbar-item">
        <img src="assets/images/skills/mvc.jpg">
      </a>
      <a class="navbar-item">
        <img src="assets/images/skills/ng.png">
      </a>
      <a class="navbar-item">
        <img src="assets/images/skills/csharp.png">
      </a>
      <a class="navbar-item">
        <img src="assets/images/skills/webapi.png">
      </a>
      <a class="navbar-item">
        <img src="assets/images/skills/netcore.png">
      </a>
      <a class="navbar-item">
        <img src="assets/images/skills/js.png">
      </a>
      <a class="navbar-item">
        <img src="assets/images/skills/nodejs.png">
      </a>
      <a class="navbar-item">
        <img src="assets/images/skills/VS.jpg">
      </a>
      <a class="navbar-item">
        <img src="assets/images/skills/sql.png">
      </a>
      <a class="navbar-item">
        <img src="assets/images/skills/aws.png">
      </a>
      <a class="navbar-item">
        <img src="assets/images/skills/kendo.png">
      </a>
      <a class="navbar-item">
        <img src="assets/images/skills/microservices.png">
      </a>
      <a class="navbar-item">
          <img src="assets/images/skills/agile.png">
      </a>
      <a class="navbar-item">
          <img src="assets/images/skills/ssis.png">
      </a>
      <a class="navbar-item">
          <img src="assets/images/skills/ssrs.png">
      </a>
      <a class="navbar-item">
          <img src="assets/images/skills/typescript.png">
      </a>
      <a class="navbar-item">
          <img src="assets/images/skills/soa.png">
      </a>
    </div>
  </nav>
