/* You can add global styles to this file, and also import other style files */
h1 {
    color: rgb(196, 211, 226);
    font-family:  'Poppins', sans-serif;
    font-size: 250%;
    letter-spacing: 1px;
    font-weight: 600;
  }
  h2, h3 {
    color: #444;
    font-family:  'Poppins', sans-serif;
    font-weight: lighter;
  }
  .title{
    font-family: 'Poppins', sans-serif  ;
    font-weight: 600;
    font-size: 150%;
  }
  body {
    font-family: 'Poppins', sans-serif  ;
    margin: 2em;
    background-color: #191919;
  }
  body, input[type="text"], button {
    color: #888;
    font-family: 'Poppins', sans-serif;
  }
  /* everywhere else */
  * {
    font-family: 'Poppins', sans-serif;
  }
  a {
    cursor: pointer;
    }
.main-wrap {
    min-height: 300px;
    /*color: #777777;  */
    color:#444;
    background-color: white;
    padding-bottom: 30px;
    line-height:21px;
    background:url("assets/images/home-banner.jpg") no-repeat #2a4c66;
    background-position: right;
}
.pad-top-10 {
    padding-top: 10%;
}
.pad-top-20 {
    padding-top: 20%;
}
.pad-top-30 {
    padding-top: 20%;
}
.pad-top-40 {
    padding-top: 40%;
}
.pad-left-10 {
    padding-left: 10%;
}
.pad-left-20 {
    padding-left: 20%;
}

.left {
    text-align: left;
}
.root{
    padding-top: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;

}
.jtron {
    background:url("assets/images/home-banner.jpg") no-repeat #2a4c66;
    background-position: right;
}

.row 
{ 
    height: 200px;
    /* line-height: 200px; */
    text-align: center;
}
/* @media screen and (min-width: 768px){
.left {
    padding-top: 0;
    }
} */
.companylogo {
    /* background-position-x: .5rem;
    background-position-y: .5rem; */
    background-repeat: no-repeat;
    padding-top: 0.0rem;
    padding-right: 0.0rem;
    padding-bottom: 1.0rem;
    padding-left: 1.0rem;     
    text-align: center;
    margin: 1em 0;
}
.companylogo1 {
     padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;     
}
.details{
    text-align: center;
    padding-top: 5rem;
    background-color: #191919
    
}
div {
    word-wrap: break-word;
  }
.wordwrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
 }
.country {  height: 50px; width: 50px;  }
div.companydetails{
    text-align: center;
}
div.duration{
    text-align: center;
}
div.location{
    text-align: center;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.wrapper {
    min-height: 100vh;
}
.fill {
    height: 100vh;
}
.sidebar-social {
    margin: 20;
    padding: 0;
}

.sidebar-social ul {
    margin: 0;
    padding: 5px;
}

.sidebar-social li {
	  text-align: center;
    width: 31.9%;
    margin-bottom: 3px!important;
    background-color: #191919;
    border: 1px solid #eee;
    display: inline-block;
    font-size: 20px;
    padding:0;
}

.sidebar-social i {
  display: block;
  margin: 0 auto 10px auto;
	width: 32px;
    height: 32px;
    margin: 10px auto 0;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
    color: #c92c2c;
  margin-top:0;
  padding-top:5px;
}
.sidebar-social a{
  text-decoration:none;
  width:100%;
  height:100%;
  display:block;
  margin:0;
  padding:0;
}

.sidebar-social a span{
  color:black;
  font-size:10px;
  padding:5px 0 10px 0;
  display:block;
  text-transform:uppercase;
  font-family:'Josefin Sans';
  letter-spacing:1px;
}

.sidebar-social a:hover i.fa-facebook { color: #FF0000; }
.sidebar-social a:hover i.fa-twitter { color:#00ABE3 }
.sidebar-social a:hover i.fa-instagram { color:#FFD400 }
.sidebar-social a:hover i.fa-pinterest { color:#FF0000 }
.sidebar-social a:hover i.fa-google-plus { color:#cb2027 }
.sidebar-social a:hover i.fa-flickr { color:#FF57AE }
.sidebar-social a:hover i.fa-500px { color:#00ABE3 }
.sidebar-social a:hover i.fa-youtube { color:#FF1F25 }
.sidebar-social a:hover i.fa-behance { color:#FF57AE }

.navbar {
    display: flex;
    background-color: #191919;
}
.social-bar{
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 0.5rem 1rem !important;
}
.animated {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.grow {
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
  }
  
  .grow:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
  }
  .btn-primary {
    background-color: #eba300;
    padding: 16px 30px;
    border-radius: 0;
    border: 1px;
    border-color: #eba300;
    border-style: solid;
    transition: all 0.5s;
    font-size: 14px;
}
.btn-secondary {
    background-color: rgba(0, 0, 0, 0);
    padding: 16px 30px;
    border-radius: 0;
    border: 1px;
    border-color: #545b62;
    border-style: solid;
    transition: all 0.5s;
    font-size: 14px;
}
.top-buffer {
    padding-top: 40%;
}