<div class="container homepage animated fadeIn delay-1s vertical-center">
    <div class="row justify-content-center align-items-center">

      <div class="col-md ">
        <h1 class="left top-buffer grow"><span class="highlight ">Hello,</span> I am a Senior IT Consultant and  <br>Full stack developer.</h1>
        <h3 class="left grow pad-top-10">Currently based in New York City.</h3>
        <a href="/experience"><button type="button" class="btn btn-primary  grow">Explore Projects</button></a>
        <a href="mailto:nileshthingalaya75@gmail.com?Subject=Hello"><button type="button" class="btn btn-secondary pad-left-20 grow">Contact Nilesh</button></a>
        <a href="/assets/doc/nileshdt.docx" ><button type="button" class="btn btn-secondary pad-left-10 grow"><i class="fa fa-download"></i><span> Resume</span></button></a>
      </div>
    </div>
  </div>