<div class="container homepage animated fadeIn delay-1s vertical-center">
    <div class="row justify-content-center align-items-center">

      <div class="col-md">
        <h1 class="left"><span class="highlight">Hello,</span> There are digital <br>workers based in the world.</h1>
        <h3>Currently There is full time , however, there are open for one in in the .</h3>
        <a href="projects"><button type="button" class="btn btn-primary">Explore Projects</button></a>
        <a href="contact"><button type="button" class="btn btn-secondary">Contact Moi</button></a>
      </div>

    </div>
  </div>